.send-message-form {
    padding: 20px;
    background-color: var(--color-textarea);
    resize: none;
    font-size: 18pt;
    width: 800px;
    height: inherit;
    &:focus {
        outline: 0;
    }
}
.send-button {
    height: 100px;
    width: 100px;
}
