:root {
  --color-background: #e3e3e5;
  --color-textarea: #ddddfa;
  --color-chat-canvas: #f9f9f9;
  --color-text: #000000;
  --color-text-inverse: #ffffff;
  --color-primary: #9f99ce;
  --color-secondary: #7a70bf;
  --color-placeholder: #332d5b;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  justify-self: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}


